<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KoleckoNestesti"
        tools:targetApi="31">
        <activity
            android:name=".view.MainViewImp"
            android:exported="true"
            android:theme="@style/Theme.KoleckoNestesti">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.StatisticsViewImp"
            android:exported="true"
            android:label="Statistics Activity"
            android:theme="@style/Theme.KoleckoNestestiWindows" />
        <activity
            android:name=".view.NewTaskActivity"
            android:exported="true"
            android:label="Nová úloha"
            android:theme="@style/Theme.KoleckoNestestiWindows" />
        <activity
            android:name=".view.TaskDetailsActivity"
            android:exported="true"
            android:label="Denní úloha"
            android:theme="@style/Theme.KoleckoNestesti" />

        <service
            android:name=".custom.BroadcastService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
